* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: 0.01em;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

section {
  background: #eff2f9;
  min-height: 100vh;
}

.card {
  width: 1170px;
  min-height: 800px;
  padding: 60px 0 70px;
  box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
  background: #fff;
}

.product-img-block {
  border-right: 2px solid rgba(20, 20, 20, 0.15);
  width: 540px;
}

.preview {
  width: 80px;
  height: 80px;
}

.selected {
  box-shadow: 8px 8px 16px 0 rgba(81, 91, 117, 0.25);
  background: #fff;
}

.product-info-block {
  padding: 0 60px;
}

.main-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: rgba(20, 20, 20, 0.9);
  margin-bottom: 5px;
  }

.subtitle{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: rgba(20, 20, 20, 0.4);
}

.text {
  font-size: 18px;
  line-height: 1.6;
  color: rgba(20, 20, 20, 0.7);
  margin: 60px 0 65px;
}

.title {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(20, 20, 20, 0.4);
  margin-bottom: 20px;
}

.colors {
  margin-bottom: 65px;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 4px rgba(81, 91, 117, 0.25));
}

.blue {
  background-color: #013c7d;
}

.green {
  background-color: #63cba7;
}

.red {
  background-color: #d52f29;
}

.black {
  background-color: #141414;
}

.yellow {
  background-color: #f2c723;
}

li.selected {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  fill: #fff;
  box-shadow: 2px 2px 6px 0 rgba(81, 91, 117, 0.25);
  padding: 7px;
}

.quantity {
  width: 80px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(20, 20, 20, 0.8);
  appearance: none;
  background-image: url('./assets/images/Vector.svg');
  background-repeat: no-repeat;
  background-position: right 0 top 50%;
}

.price {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(20, 20, 20, 0.8);
}

.btn {
  width: 510px;
  height: 70px;
  background: #141414;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  margin-top: 75px;
}
